<%= form_with(model: temporary) do |form| %>
  <% if temporary.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(temporary.errors.count, "error") %> prohibited this temporary from being saved:</h2>

      <ul>
        <% temporary.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label "Буквы желтые", style: "display: block" %>
    <%= form.text_field :anylike %>
  </div>

  <div>
    <%= form.label "Буквы серые", style: "display: block" %>
    <%= form.text_field :dontlike %>
  </div>

  <div>
    <%= form.label "Первая", style: "display: block" %>
    <%= form.text_field :a %>
  </div>

  <div>
    <%= form.label "Вторая", style: "display: block" %>
    <%= form.text_field :b %>
  </div>

  <div>
    <%= form.label "Третья", style: "display: block" %>
    <%= form.text_field :c %>
  </div>

  <div>
    <%= form.label "Четвертая", style: "display: block" %>
    <%= form.text_field :d %>
  </div>

  <div>
    <%= form.label "Пятая", style: "display: block" %>
    <%= form.text_field :e %>
  </div>

  <%= form.label "Расположение желтых букв", style: "display: block" %>

  <div>
    <%= form.label "Первая", style: "display: block" %>
    <%= form.text_field :sa %>
  </div>

  <div>
    <%= form.label "Вторая", style: "display: block" %>
    <%= form.text_field :sb %>
  </div>

  <div>
    <%= form.label "Третья", style: "display: block" %>
    <%= form.text_field :sc %>
  </div>

  <div>
    <%= form.label "Четвертая", style: "display: block" %>
    <%= form.text_field :sd %>
  </div>

  <div>
    <%= form.label "Пятая", style: "display: block" %>
    <%= form.text_field :se %>
  </div>



  <div>
    <%= form.submit %>
  </div>
<% end %>
