temp=<%=@temp %>
<div id="<%= dom_id temporary %>">
  <p>
    <strong>Anylike:</strong>
    <%= temporary.anylike %>
  </p>

  <p>
    <strong>Dontlike:</strong>
    <%= temporary.dontlike %>
  </p>

  <p>
    <strong>A:</strong>
    <%= temporary.a %>
  </p>

  <p>
    <strong>B:</strong>
    <%= temporary.b %>
  </p>

  <p>
    <strong>C:</strong>
    <%= temporary.c %>
  </p>

  <p>
    <strong>D:</strong>
    <%= temporary.d %>
  </p>

  <p>
    <strong>E:</strong>
    <%= temporary.e %>
  </p>

</div>
