temp=<%=@temp %>
<div id="<%= dom_id temporary %>">
  <p>
    <strong>Буквы в желтых:</strong>
    <%= temporary.anylike %>
  </p>

  <p>
    <strong>Буквы серые:</strong>
    <%= temporary.dontlike %>
  </p>

  <p>
    <strong>Первая:</strong>
    <%= temporary.a %>
  </p>

  <p>
    <strong>Вторая:</strong>
    <%= temporary.b %>
  </p>

  <p>
    <strong>Третья:</strong>
    <%= temporary.c %>
  </p>

  <p>
    <strong>Четвертая:</strong>
    <%= temporary.d %>
  </p>

  <p>
    <strong>Пятая:</strong>
    <%= temporary.e %>
  </p>

  <strong>Расположение желтых букв:</strong>

  <p>
    <strong>Первая:</strong>
    <%= temporary.sa %>
  </p>

  <p>
    <strong>Вторая:</strong>
    <%= temporary.sb %>
  </p>

  <p>
    <strong>Третья:</strong>
    <%= temporary.sc %>
  </p>

  <p>
    <strong>Четвертая:</strong>
    <%= temporary.sd %>
  </p>

  <p>
    <strong>Пятая:</strong>
    <%= temporary.se %>
  </p>

</div>
