<p style="color: green"><%= notice %></p>

<%= render @temporary %>
<b>Варианты ответа</b>=<% @temp.each do |x|%>
<%= x.word %>
<% end %>

<br/><br/><br/>
<b>Раскрыть поле без повторов</b>=<% @temp1.each do |x|%>
  <%= x.word %>
<% end %>

<br/><br/><br/>
<b>Раскрыть поле с повторами</b>=<% @temp0.each do |y|%>
  <%= y.word %>
<% end %>



<div>
  <%= link_to "Edit this temporary", edit_temporary_path(@temporary) %> |
  <%= link_to "Back to temporaries", temporaries_path %>

  <%= button_to "Destroy this temporary", @temporary, method: :delete %>
</div>


