<div id="<%= dom_id word %>">
  <p>
    <strong>Word:</strong>
    <%= word.word %>
  </p>

  <p>
    <strong>Anynum:</strong>
    <%= word.anynum %>
  </p>

  <p>
    <strong>Codeword:</strong>
    <%= word.codeword %>
  </p>

  <p>
    <strong>A:</strong>
    <%= word.a %>
  </p>

  <p>
    <strong>B:</strong>
    <%= word.b %>
  </p>

  <p>
    <strong>C:</strong>
    <%= word.c %>
  </p>

  <p>
    <strong>D:</strong>
    <%= word.d %>
  </p>

  <p>
    <strong>E:</strong>
    <%= word.e %>
  </p>

</div>
